.design-page {
  h2 {
    @extend %page-header;
  }

  p {
    margin-top: 20px;
    line-height: 2;
  }

  .gallery {
    padding: 25px 0;
    margin: 25px 0;

    .gallery-caption {
      margin-top: 15px;
      font-size: 1.2rem;
    }
  }

  section {
    padding: 2.5% 0;
    margin-bottom: 30px;
    font: 400 1.2rem/2 'CenturyGothic';
  }

  section.process-list-section {
    @extend %box-shadow;

    ol {
      list-style: none;
      counter-reset: item;
      margin: 10px 0;
      padding: 0;
      li {
        counter-increment: item;
        margin: 15px 0 0 20px;
        position: relative;

        &:before {
          content: counter(item);
          color: $blue;
          font: 600 3rem/5rem 'CenturyGothic';
          display: inline-block;
          position: absolute;
          left: -50px;
        }
      }
    }
  }

  section.price-section {
    img {
      display: inline-block;
      margin: 25px 0;
    }

    ul.design-price-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li span {
        color: $blue*1.1;
        font-weight: 600;
      }
    }
  }
}

.small-title {
  font: 500 1.5rem/2rem 'CenturyGothic';
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  margin-bottom: 25px;
}